<mat-tab-group>
    <mat-tab label="Simple Search"> 
        <h2>Image Upload</h2>
        <div class="list" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)">
            <div class="upload-area" (click)="fileInput.click()">
              <input type="file" hidden (change)="onFileSelect($event)" #fileInput>
              <p>Drag & drop your image here or click to upload</p>
            </div>
            <div class="list-item" *ngIf="image">
              <img [src]="image.preview" alt="Preview" class="preview-image" />
            </div>
        </div>
        <div *ngIf="results.length > 0" class="results-container">
          <mat-card *ngFor="let result of results" class="result-card">
            <mat-card-header>
              <mat-card-title>{{ result.filename }}</mat-card-title>
              <mat-card-subtitle>Score: {{ result.score }}</mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content *ngIf="result.image" class="result-image">
              <img [src]="result.image" alt="{{ result.filename }}" class="result-img" />
            </mat-card-content>
        
            <mat-card-actions>
              <button mat-button color="primary" (click)="downloadImage(result)">Download</button>
            </mat-card-actions>
          </mat-card>
        </div>
        
          
          <div *ngIf="!results?.length" class="no-results">
            <p>No results found.</p>
          </div>
          
        
          
   


    </mat-tab>
    <mat-tab label="Recherche pertinence"> complicated </mat-tab>
</mat-tab-group>
  
