<div class="container">
  <h2>Image Upload</h2>

  <div cdkDropList #uploadList="cdkDropList" [cdkDropListData]="uploadQueue" class="list"
       (cdkDropListDropped)="drop($event)">
    <div class="upload-area" (click)="fileInput.click()" (drop)="onFileDrop($event)">
      <input type="file" hidden (change)="onFileSelect($event)" #fileInput multiple>
      <p>Drag & drop your images here or click to upload</p>
    </div>
    <div class="list-item" *ngFor="let image of uploadQueue" cdkDrag>
      <div *ngIf="image.file.name.endsWith('.obj')">
        <div id="preview-{{image.id}}" class="preview-3d-container"></div>
      </div>
      <button mat-icon-button (click)="removeImage(image)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <mat-select [(ngModel)]="category" placeholder="Select a category">
      <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
    </mat-select>
    <button class="save" (click)="save()">
      Save to Gallery
    </button>
  </div>
</div>
