<mat-grid-list cols="4" rowHeight="1:1" gutterSize="16px" class="gallery-grid">
  <mat-grid-tile *ngFor="let file of paginatedImages" (click)="openDialog(file)">
    <div class="image-container">
      <ng-container>
        <!-- Canvas for rendering .obj -->
        <canvas #canvas id="objCanvas-{{ file.filename }}" class="obj-canvas"></canvas>
      </ng-container>
      <ng-template #imageTemplate>
        <img [src]="file.url" [alt]="file.filename" class="gallery-image" />
      </ng-template>
      <div class="image-overlay">
        <mat-icon>zoom_in</mat-icon>
      </div>
    </div>
    <mat-grid-tile-footer>
      <div class="image-title">{{ file.filename }}</div>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>


<!-- Pagination -->
<mat-paginator
  [length]="images.length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  (page)="onPageChange($event)">
</mat-paginator>

<!-- Image Dialog -->
<ng-template #dialogTemplate let-dialogRef="dialogRef">
  <mat-dialog-content>
    <img [src]="dialogRef.data.url" [alt]="dialogRef.data.filename" class="full-screen-image"/>
  </mat-dialog-content>
</ng-template>
