  <!-- Gallery Grid -->
  <mat-grid-list cols="4" rowHeight="1:1" gutterSize="16px" class="gallery-grid">
    <mat-grid-tile *ngFor="let image of images" (click)="openDialog(image)">
      <div class="image-container">
        <img [src]="image.url" [alt]="image.image" class="gallery-image"/>
        <div class="image-overlay">
          <mat-icon>zoom_in</mat-icon>
        </div>
      </div>
      <mat-grid-tile-footer>
        <div class="image-title">{{ image.image }}</div>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  
  
  <!-- Image Dialog -->
  <ng-template #dialogTemplate let-dialogRef="dialogRef" >
    <mat-dialog-content>
      <img [src]="dialogRef.data.url" [alt]="dialogRef.data.image" class="full-screen-image"/>
    </mat-dialog-content>
  </ng-template>
  