<mat-dialog-content class="dialog-content">
  <h3>{{ data.image }} </h3>

  <div class="image-wrapper">
    <!-- Replace <img> with a <canvas> for rendering .obj -->
    <canvas id="objCanvas" class="full-screen-canvas"></canvas>
  </div>

  <div *ngIf="data.category">
    <h4>Category: {{ data.category }}</h4>
  </div>

  <div class="action-buttons">
    <button mat-flat-button class="download" color="primary" (click)="downloadImage()">Download</button>
    <button mat-flat-button class="delete" color="warn" (click)="deleteImage()">Delete</button>
  </div>

  <div>
    <h2>Image Characteristics</h2>
    <div class="characteristics-container"></div>
  
    <div>
      <h3>Fourier Coefficients</h3>
      <canvas id="fourierChart" width="400" height="200"></canvas>
    </div>
  
    <div >
      <h3>Zernike Moments</h3>
      <canvas id="zernikeChart" width="400" height="200"></canvas>
    </div>
  </div>
  
</mat-dialog-content>
